{%- liquid
  assign has_size_option = false
  if product.options contains "Size"
    assign has_size_option = true
  endif
-%}

{% if has_size_option %}
<div class="product-block">
  {%- render 'ctwf_ring_size_selector',
    block: block,
    product: product,
    form_id: form_id,
    section_id: section_id,
    option: option,
    connect_to_sizechart: connect_to_sizechart,
    sizechart_index: sizechart_index,
    size_chart: block.settings.size_chart
  -%}
</div>
{% endif %}