<div class="product-block product-block--sales-point order-fulfillment-notice">
  <div class="sales-point">
    <div class="icon-and-text inventory--in-stock">
      <span class="icon icon--inventory"></span>
      <span class="order-fulfillment-notice-text">{{ block.settings.order_fulfillment_notice_rts }}</span>
    </div>
    <div class="icon-and-text inventory--low">
      <span class="icon icon--inventory"></span>
      <span class="order-fulfillment-notice-text">{{ product.metafields.ctwf.made_to_order_notice }}</span>
    </div>
  </div>
</div>