<div class="hint-and-gift text-with-icons__blocks has-2-per-row" data-block-count="2">
  <div class="text-with-icons__block text-center">
    <div id="dropahint_wrapper"></div>
  </div>

  <div class="text-with-icons__block text-center">
    <a data-product-target="pdfLink" class="product-metafield__modal-cta" href="https://ctwf-pdf.herokuapp.com/pdf?title=Emily+Engagement+Ring&amp;img=%2F%2Fconsiderthewldflwrs.com%2Fcdn%2Fshop%2Ffiles%2FCTWF-0523-001.jpg%3Fv%3D1685035244&amp;width=500" download="">
      {% render 'icon', name: 'tcwi-gift' %}
      {{ block.settings.second-cta_link-text }}
    </a>
  </div>
</div>