<div class="concave-banner-wrapper">
  <div class="concave-banner"></div>
  <svg class="hidden-element">
    <clipPath id="announcement-clip-path" clipPathUnits="objectBoundingBox">
      <path d="M1,0 C1,0,0.912,0.63,0.806,0.712 C0.699,0.794,0.579,0.671,0.5,1 C0.421,0.671,0.301,0.795,0.194,0.712 C0.088,0.63,0,0,0,0"></path>
    </clipPath>
  </svg>
</div>